/* Styles specifically for the resume page  */
.bl-resume {
  margin: 0;
  margin-top: 10px; }
  .bl-resume dl {
    margin: 0; }
  .bl-resume dt {
    clear: left;
    float: left; }
  .bl-resume dt:after {
    content: ":"; }
  .bl-resume dd {
    float: left; }
  .bl-resume dl dd {
    margin-left: 5px; }
  .bl-resume dl + * {
    padding-top: 10px;
    clear: left; }
  .bl-resume header {
    text-align: center;
    padding-top: 15px; }
  .bl-resume h1 {
    font-variant: small-caps;
    margin-bottom: 0; }
  .bl-resume h2 {
    padding-bottom: 5px;
    padding-top: 25px;
    font-variant: small-caps; }
  .bl-resume h3 {
    display: inline; }
  .bl-resume .bl-job_title {
    padding-left: 10px; }
  .bl-resume dt, .bl-resume dd {
    margin-top: 3px; }
  .bl-resume .bl-skills dd {
    clear: left;
    margin-left: 15px; }
  .bl-resume .bl-info-job_date,
  .bl-resume .bl-info-degree {
    float: right;
    margin: 0; }
  .bl-resume .bl-info-degree {
    font-size: 100%; }
