/* Form Styles */
fieldset {
  padding: 20px 0 40px 0;
  margin: 20px 0 20px 0;
  border: 1px solid;
  position: relative;
}
legend {
  margin-left: 40px;
  padding: 0 10px 0 10px;
}
/* added the type to override the global reset */
label,
textarea,
input[type] {
  width: 90%;
  display: block;
  margin: 0 auto 10px auto;
}
input[type=submit] {
  width: 100%;
  padding: 1px 5px 1px 5px;
}
label {
  margin-bottom: 0;
}
.bl-fieldset_btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
/* login and edit forms */
.bl-form-login {
  padding: 0 100px 0 100px;
}
.bl-form-login fieldset label,
.bl-form-login fieldset input[type] {
  width: 60%;
}
.bl-form-login fieldset input[type=submit] {
  width: 100%;
}
.bl-edit_post {
  position: relative;
  padding: 10px 5px 60px 5px;
  margin: 0 10px 0 10px;
}
.bl-edit_post h2 {
  padding: 0 0 20px 3%;
}
.bl-edit_post .bl-fieldset_btn {
  margin-right: 10%;
}
/* Post */
.bl-post h2 {
  margin-bottom: 0;
}
.bl-post .bl-post_body {
  padding: 10px;
  text-indent: 10px;
}
.bl-post .bl-admin_controls {
  opacity: 0;
  transition:         opacity 0.25s;
  -webkit-transition: opacity 0.25s;
  -moz-transition:    opacity 0.25s;
  -o-transition:      opacity 0.25s;
}
.bl-post:hover .bl-admin_controls {
  opacity: 1;
}
footer.bl-main {
  .bl-admin_controls {
    margin: 0 15px 5px 0;
  }
  input[type] {
    margin-bottom: 0;
  }
  li {
    padding: 0 5px 0 5px;
  }
}
.bl-admin_controls {
  float: right;
}
.bl-admin_controls li {
  display: inline-block;
}


/* Form Theme Styles */
/* Button Styles */
a.bl-btn {/* anchor reset */
  color: #000000;
  text-decoration: none;
}
a.bl-btn,
.bl-btn {
  background: none;
  background: -webkit-linear-gradient(top,  #FFFFFF 12%, #DDDDDD 60%, #AAAAAA 100%);
  border: solid 1px #999999;
  border-radius: 5px;
  padding: 1px 13px 1px 13px;
  cursor: pointer;
  display: inline-block;
}
.bl-btn:hover,
.bl-bt:focus{
  background: -webkit-linear-gradient(top, #FFFFFF 18%, #DDDDDD 80%, #CCCCCC 100%);
  box-shadow: 0 0 10px -3px #AAA;
  border-color: #777;
}
.bl-btn:active {
  background: -webkit-linear-gradient(top, #888888 0%, #EEEEEE 10%, #AAAAAA 80%, #888888 100%);
}
.bl-btn_link {
  background: none;
  border: none;
  cursor: pointer;
}
.bl-btn_link:hover {
  text-decoration: underline;
}
.bl-info,
label,
fieldset {
  color: #888882;
  font-style: italic;
}
.bl-info label,
.bl-info dt,
form label {
  text-shadow: 1px 1px 1px rgba(100,100,100,0.4);
}
legend {
  color: #DDD;
}
input[type],
textarea {
  background-color: #212121;
  color: #AAA;
  border: 0px solid #353535;
  box-shadow: inset 0px 1px 5px 2px #181818;
  padding: 8px;
}

.bl-pullquote {
  font-style: italic;
}
.bl-pullquote-r {
  padding-left: 5px;
  box-shadow: -3px 0 5px -3px #999;
}
.bl-pullquote-l {
  padding-right: 5px;
  box-shadow: 3px 0 5px -3px #999;
}
blockquote {
  padding: 10px;
  box-shadow: 0 5px 15px -10px #999, 0 -5px 15px -10px #999;
}
code {
  font-family: 'Ubuntu Mono', monospace;
}
