html {
  background-color: #252525;
  color: #FDFDFD;
}
body,
button {
  font-family: 'Open Sans', Tahoma, sans-serif;
}
.bl-site_wrapper {
  box-shadow: 0px 0px 5px 1px #656565;
  background-color: #202020;
}
.bl-btn_link,
a:link,
a:visited {
  color: #DF7120;
}
/* Text Styles */
label,
dt
{
  text-shadow: 1px 1px 1px rgba(200,200,200,0.3);
}
/* Button Styles */
a.bl-btn {/* anchor reset */
  color: #000000;
  text-decoration: none;
}
a.bl-btn,
.bl-btn {
  background: none;
  background: -webkit-linear-gradient(top,  #FFFFFF 12%, #DDDDDD 60%, #AAAAAA 100%);
  border: solid 1px #999999;
  border-radius: 5px;
  padding: 1px 13px 1px 13px;
  cursor: pointer;
  display: inline-block;
}
.bl-btn:hover,
.bl-bt:focus{
  background: -webkit-linear-gradient(top, #FFFFFF 18%, #DDDDDD 80%, #CCCCCC 100%);
  box-shadow: 0 0 10px -3px #AAA;
  border-color: #777;
}
.bl-btn:active {
  background: -webkit-linear-gradient(top, #888888 0%, #EEEEEE 10%, #AAAAAA 80%, #888888 100%);
}
.bl-btn_link {
  background: none;
  border: none;
  cursor: pointer;
}
.bl-btn_link:hover {
  text-decoration: underline;
}
.bl-info,
label,
fieldset {
  color: #888882;
  font-style: italic;
}
.bl-info label,
.bl-info dt,
form label {
  text-shadow: 1px 1px 1px rgba(100,100,100,0.4);
}
legend {
  color: #DDD;
}
input[type],
textarea {
  background-color: #212121;
  color: #AAA;
  border: 0px solid #353535;
  box-shadow: inset 0px 1px 5px 2px #181818;
  padding: 8px;
}
header.bl-main,
header.bl-main a:link,
header.bl-main a:visited {
  color: #EAEAEA;
}
header.bl-main h1 {
  font-family: 'Georgia', serif;
  text-shadow: 2px 2px 7px rgba(175,175,175,0.5);
}
footer.bl-main a:link,
footer.bl-main button {
  color: #8E8E88;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
article h1,
article h2 {
 text-shadow: 1px 1px 3px rgba(175,175,175,0.30);
}
.bl-btn_link,
article a:link {
 text-shadow: 1px 1px 3px rgba(223,113,32,0.2);
}
header.bl-main li {
  box-shadow: 0px 2px 3px -2px #DDD;       
}
header.bl-main li:hover {
  box-shadow: 0px 6px 10px -5px #929292;
  text-shadow: 0 1px 3px rgba(240,240,240,0.65);
}
article {
  background-color: #2E2E2E;
  border-radius: 2px;
  box-shadow: 0px 3px 13px -2px #111;
}
article footer {
  box-shadow: inset 0px 8px 7px -10px #A3A3A3;
}
.bl-pullquote {
  font-style: italic;
}
.bl-pullquote-r {
  padding-left: 5px;
  box-shadow: -3px 0 5px -3px #999;
}
.bl-pullquote-l {
  padding-right: 5px;
  box-shadow: 3px 0 5px -3px #999;
}
blockquote {
  padding: 10px;
  box-shadow: 0 5px 15px -10px #999, 0 -5px 15px -10px #999;
}
code {
  font-family: 'Ubuntu Mono', monospace;
}
.bl-post .bl-info-tags,
.bl-resume .bl-info-degree {
  font-style: normal;
}
.bl-resume a:link {
  color: #BF7120;
}
.bl-projects li {
  box-shadow: 0px 8px 7px -10px #A3A3A3;
}
.bl-home img {
  box-shadow: 2px 2px 5px 1px #111;
  border: 4px inset rgba(223,113,32,0.4);
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
